{% extends 'base.html.twig' %}

{% block title %}
    All vermin come from the walls
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ product }}</h5>
                            <p class="card-text">{{ product }}</p>
                            <a href="#" class="btn btn-primary">{{ product }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}